<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center heading"><i class="fas fa-fingerprint mr-3"></i>Node <br>Authentication</h1>
        <hr class="my-4">
        <p class="lead font-italic">Login or Register with us</p>
    </div>
</div>