<div class="container">
  <div class="row">

    <div class="col-lg-8">
      <div class="row">
        {{!-- Local Auth --}}
        <div class="col-lg-10 mx-auto">
          {{!-- message flash --}}
          {{!-- <div class="alert alert-{{flash.type}}" role="alert">
            {{flash.message}}
            dsafd
          </div> --}}
          <div class="card">
            <div class="card-header text-center">
              <i class="fas fa-sign-in-alt pr-2"></i>
              Login
            </div>
            <form class="card-body" action="/auth/login" method="POST">
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email@example.com"
                  name="email" required autofocus>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                  required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
              <div class="dropdown-divider"></div>
              <div class="row">
                <a class="col-sm-6 form-group mb-0" href="/auth/register">New around here? Sign up</a>
                <a class="col-sm-6 form-group mb-0" href="#">Forgot password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{!-- O-Auth --}}
    <div class="col-lg-4 mt-5">
      <div class="card">
        <div class="card-header text-center">
          <i class="fas fa-sign-in-alt pr-2"></i>
          Sign In with
        </div>
        <div class="card-body">
          <div class="mb-3 fixMiddle"><a href="/auth/google" class="btn btn-danger"><i class="fab fa-google-plus-g"></i>&nbsp;&nbsp;Google</a></div>
          <div class="mb-3 fixMiddle"><a href="/auth/facebook" class="btn btn-primary"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;Facebook</a></div>
        </div>
      </div>
    </div>

  </div>

</div>