body {
    background-color: #e9ecef;
}

* {
    outline: none !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.07rem rgba(0, 123, 255, .25);
}

.container {
    margin-top: 10vh;
}

.heading {
    font-weight: 400;
    color: #46484a;
}

.fas.fa-fingerprint {
    transition: all 1s 0.1s;
    opacity: 1;
}

.fade {
    opacity: 0.36 !important;
}

.fixMiddle {
    text-align: center;
}

.tilt {
    font-style: italic;
    color: #6c757d;
}

.divider {
    border-right: solid 1px #ababab;
}

.deleteBarPadding {
    padding: 0.5rem;
}

.circled {
    border-radius: 50%;
}

.backSize {
    font-size: 1.5em;
}

.fixHover:hover {
    
}